.CardSecundary {
    width: 100%;
    max-width: 320px;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.Title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40px;
}

.Data {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
}

.Data strong {
    font-size: 6.4rem;
}

.Children {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 30px;
    height: 40px;
} 