.App {
    display: grid;
    grid-template: minmax(500px, 100vh) minmax(100px, auto) / minmax(320px, 1fr) ;
    transition: all .5s;
}

.Overview {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
}

.Overview_Wrapper {
    display: grid;
    grid-template: 80px 1fr 1fr 50px / minmax(300px, 1fr);
    height: 100%;
    width: 95%;
}

.Input {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Input button {
    width: 150px;
    height: 60%;
    outline: none;
    border: none;
    font-size: 1.6rem;
    font-family: var(--fontFamily);
    color: white;
    background-color: var(--color-dark-gray);
    cursor: pointer;
}

.UserLocation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60%;
    width: 48px;
    border-radius: 50%;
    background-color: var(--color-dark-gray);
    cursor: pointer;
}

.UserLocation img {
    width: 70%;
}

.Imagen {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.Background {
    grid-area: 2 / 1 / 3 / 2;
    background-image: url('../assets/Cloud-background.png');
    background-position: bottom;
    background-repeat: no-repeat;
    height: 90%;
    opacity: .1;
}

.Imagen img {
    width: 40%;
    max-width: 200px;
}

.Content {
    grid-area: 3 / 1 / 4 / 2;
}

.Content_Title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Content_Title h1 span {
    font-size: 9.0rem;
    font-weight: 500;
    color: var(--color-white);
}

.Content_Title sub {
    font-size: 10.4rem;
    font-weight: 500;
    color: var(--color-white);
}


.Content_Title h1 {
    width: fit-content;
    color: var(--color-gray);
}

.Content_SubTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    color: var(--color-gray);
}

.Content_SubTitle h2 {
    width: fit-content;
}

.Content_Info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    color: var(--color-gray);
}


.Date {
    display: flex;
    justify-content: space-between;
    height: 25px;
    width: 180px;
}

.Place {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Place_Icon {
    width: 30px;
}

.Place_Icon img {
    width: 80%;
}

.Info {
    grid-area: 2 / 1 / 3 / 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-BG);
}

.Info_CardMain {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(135px,1fr));
    grid-auto-rows: auto;
    justify-items: center;
    grid-gap: 20px;
    margin-top: 40px;
    width: 85%;
    max-width: 866px;
}

.Info_Title {
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 866px;
    height: 100px;
}

.Info_Title h2 {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-white);
}

.Info_CardSecundary {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    justify-items: center;
    grid-auto-rows: auto;
    grid-gap: 20px;
    width: 90%;
    max-width: 866px;
}

.Info_CardSecundary__Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    background-color: var(--color-dark-gray);
    border-radius: 50%;
    margin-right: 12px;
}

.Info_CardSecundary__Icon img {
    width: 60%;
}

.Numbers {
    display: flex;
    justify-content: space-between;
    width: 200px;
    height: 20px;
}


.Bar {
    /* height: 10px;
    width: 200px;
    border-radius: 999px;
    background-color: var(--color-gray); */
    width: 200px;
    appearance: none;
}

.Bar::-webkit-progress-bar {
    width: 200px;
    height: 10px;
    border-radius: 999px;
    background-color: var(--color-gray);
}

.Bar::-webkit-progress-value {
    height: 100%;
    background-color: var(--color-yellow);
    border-radius: 999px;
}

/* .Bar div {
    height: 100%;
    background-color: var(--color-yellow);
    border-radius: 999px;
} */

.Percentage {
    display: flex;
    justify-content: flex-end;
    height: 20px;
    width: 200px;
}

.Search {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template: 50px 100px minmax(500px, auto) / 1fr;
    background-color: var(--color-primary);
    visibility: hidden;
    opacity: 0;
}

.Search__active {
    visibility: visible;
    opacity: 1;
    z-index: 2;
    animation: SlideIn .3 ease ;
}

.Search_cancel {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: center;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
}

.Search_cancel button {
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1.8rem;
    cursor: pointer;
}

.Coords {
    grid-area: 2 / 1 / 3 / 2;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 80%;
}

.Coords_Label {
    width: 100%;
}

.Coords label {
    color: var(--color-white);
    font-size: 1.6rem;
}

.Coords_input {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
    height: 40px;
    border: 1px solid var(--color-white);
}

.Coords_input img {
    width: 20px;
}

.Coords_input input {
    width: 80%;
    height: 80%;
    border: none;
    outline: none;
    background-color: var(--color-primary);
    color: var(--color-white);
}

.Coords_button {
    width: 25%;
    height: 40px;
}

.Coords_button input {
    width: 100%;
    height: 100%;
    border: none;
    background: var(--color-blue);
    color: var(--color-white);
    font-size: 1.6rem;
    font-family: var(--fontFamily);
    cursor: pointer;
}

.OptionsList {
    grid-area: 3 / 1 / 4 / 2;
    justify-self: center;
    width: 90%;
}

.OptionsList select {
    width: 100%;
    max-width: 250px;
    height: 45px;
    background-color: transparent;
    color: var(--color-white);
    font-size: 1.6rem;
    font-family: var(--fontFamily);
    padding: 0px 12px;
    border: 1px solid var(--color-white);
}

.OptionsList select option {
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: 1.6rem;
    font-family: var(--fontFamily);
    border: none;
    outline: none;
}

.Info_Footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    color: var(--color-white);
}

/* ____________________________-MEDIAQERIES__________________________________________ */

@media (min-width: 967px) {
    .App {
        grid-template: minmax(100vh, auto) / 320px minmax(320px, 1fr);
    }
    .Info {
        grid-area: 1 / 2 / 1 / 3;
    }
}